.page {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #f1faee;
  }
  
  .top-tags {
    bottom: auto;
    top: 35px;
  }
  
  .container {
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
  }
  
  .container.books-page,
  .container.gallery-page {
    
      h1 {
        font-size: 53px;
        font-family: 'Coolvetica';
        color: #F1FAEE;
        font-weight: 400;
        margin-top: 0;
        position: relative;
        margin-bottom: 40px;
        left: -10px;
  
        &:before {
          content: '<h1>';
          font-family: 'Comic Sans', cursive;
          color: #F1FAEE;
          font-size: 18px;
          position: absolute;
          margin-top: -10px;
          left: -10px;
          opacity: 0.6;
          line-height: 18px;
        }
  
        &:after {
          content: '<h1/>'; 
          font-family: 'Comic Sans', cursive;
          color: #F1FAEE;
          font-size: 18px;
          line-height: 18px;
          position: absolute;
          left: -30px;
          bottom: -20px;
          margin-left: 20px;
          opacity: 0.6;
        }
      }
  
    }