.title{
    position: absolute;
    font-size: 150px;
    color:#264653a2;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:center;
    left: 30%;

  }

  .img-left {
    width: 240px;
    height: 360px;
    position: absolute;
    display: flex;
        top:60%;
        left:50%;
        -webkit-transform: translate(-10%, -50%);
        -moz-transform: translate(-10%, -50%);
        -ms-transform: translate(-10%, -50%);
        -o-transform: translate(-10%, -50%);
        transform: translate(60%, -50%);
  }
  .img-right {
    width: 240px;
    height: 360px;
    position: absolute;
    display: flex;
        top:60%;
        left:50%;
        -webkit-transform: translate(-10%, -50%);
        -moz-transform: translate(-10%, -50%);
        -ms-transform: translate(-10%, -50%);
        -o-transform: translate(-10%, -50%);
        transform: translate(-130%, -50%);
  }
