.i-img{
      position: absolute;
      height: 400px;
      width: 360px;
      display: flex;
        top:50%;
        left:50%;
        -webkit-transform: translate(-10%, -50%);
        -moz-transform: translate(-10%, -50%);
        -ms-transform: translate(-10%, -50%);
        -o-transform: translate(-10%, -50%);
        transform: translate(+50%, -50%);
    }
.text {
  position: absolute;
  font-style: italic;
  margin-top: 160px; left: 250px; right: 880px;
  text-align: left;


    h1{
      font-size: 53px;
        font-family: 'Coolvetica';
        color: #264653;
        font-weight: 400;
        margin-top: 0;
        position: relative;
        margin-bottom: 40px;
        left: -10px;
        text-transform: uppercase;
    }
    h2{
      color: #264653;
      font-size: 19px;
    }

    
  }