.main {
  

  .head {
    font-size: 150px;
    color: #264653;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-align: center;
    margin-left: 10%;
  }

  .l-img {
    max-width: 360px;
    max-height: 240px;
    -webkit-transform: translate(340%, -170%);
        -moz-transform: translate(340%, -170%);
        -ms-transform: translate(340%, -170%);
        -o-transform: translate(340%, -170%);
        transform: translate(340%, -70%);
    
  }

  .r-img {
    max-width: 360px;
    max-height: 240px;
    -webkit-transform: translate(220%, -170%);
        -moz-transform: translate(220%, -170%);
        -ms-transform: translate(220%, -170%);
        -o-transform: translate(220%, -170%);
        transform: translate(220%, -70%);
    
  }

  .text {
    background-color: rgba(255, 255, 255, 0.253);
    margin-right: 25%;
    margin-left: 35%;
    justify-content: left;
    transform: translate(0%, 180%);


    h2 {
      color: #030306ce;
      font-size: 19px;
      text-align: center;

      
      
    }
  }
}

@media screen and (max-width: "600px") {
  .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .head {
      font-size: 60px;
      letter-spacing: 5px;
      margin-top: 5%;
    }

    .l-img {
      max-width: 140px;
      max-height: 150px;
      left: -80%;
      top: 46%;
      position: absolute;
    }

    .r-img {
      max-width: 180px;
      max-height: 150px;
      right: 110%;
      top: 46%;
      position: absolute;
    }

    .text {
      width:85%;
      line-height: 100%;
      margin-top: 5%;
      margin-left: 35%;

  
      h2 {
        font-size: 14px;
        align-items: center;
      }
    }
  }
  
}
