.nav-bar {
    background-color: #780000;
    width: 170px;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 3;
    min-height: fit-content;


    nav {
        display:block;
        text-align: center;
        position: absolute;
        height: 370px;
        bottom: 50%; right: 0%;
        margin-bottom: -150px;
      
        a {
          font-size: 35px;
          color:#ffff;
          display: block;
          line-height: 170px;
          width: 170px;
          position: relative;
          text-decoration: none;

          svg {
            color: #ffffffb6;
          }
          
      
          i {
            transition: all 0.3s ease-out;
          }
      
          &:hover {
            color: #ffff;
      
            svg {
              opacity: 0;
            }
            &:after {
              opacity: 1;
            }
          }
      
          &:after {
            content: '';
            font-size: 20px;
            letter-spacing: 10px;
            position: absolute;
            bottom: 0px;
            display: block;
            width: 100%;
            text-align: center;
            opacity: 0;
            transition: all 0.3s ease-out;
          }
      
          &:first-child {
            &:after {
              content: 'HOME';
              color: #ffff;
              
            }
          }
        }
        a.Books-link {
          &:after {
            content: 'BOOKS';
            color: #ffff;
          }
        }
        a.Gallery-link {
          &:after {
            content: 'GALLERY';
            color: #ffff;
          }
        }
        
      }
      .Menu-button{
        position: absolute;
        top:0;
        right:0;
        padding:200;
        background: transparent;
        border:0;
        font-size: 30px;
        color:#ffff;
      }
}