.image-cont {

    .img {
        position: absolute;
        max-width: 850px;
        max-height: 540px;
        justify-content: center;
        align-items: center;
        border-style:solid;
    border-width: 30px;
    border-color: rgba(47, 68, 47, 0.644);
        display: flex;
        top:50%;
        left:55%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
  }
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 100px;
    font-size: 5rem;
    color: #264653c7;
    z-index: 10;
    cursor: pointer;
    user-select: none;

    :hover {
      color: #780000;
    }
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 260px;
    font-size: 5rem;
    color: #264653c7;
    z-index: 10;
    cursor: pointer;
    user-select: none;

    :hover{
      color: #780000;
    }
  }

  @media screen and (max-width: "1000px") {
    .image-cont {
      .img {
        position: absolute;
        max-width: 280px;
        max-height: 300px;
        justify-content: center;
        align-items: center;
        border-style:solid;
    border-width: 2px;
    border-color: rgba(47, 68, 47, 0.644);
      }
    }
    .right-arrow {
      position: absolute;
      top: 75%;
      right: 35%;
      font-size: 4.5rem;
      transform: rotate(90deg);
      color: #264653;
      cursor: pointer;
      user-select: none;
    }
    
    .left-arrow {
      position: absolute;
      top: 15%;
      left: 45%;
      font-size: 4.5rem;
      transform: rotate(90deg);
      color: #264653;
      cursor: pointer;
      user-select: none;
    }
  }