.image-cont {

    .img {
        position: absolute;
        width: 850px;
        height: 540px;
        justify-content: center;
        align-items: center;
        border-style:solid;
    border-width: 40px;
    border-color: rgba(47, 68, 47, 0.644);
        display: flex;
        top:50%;
        left:55%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
  }
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 100px;
    font-size: 5rem;
    color: #264653c7;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 260px;
    font-size: 5rem;
    color: #264653c7;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  