.image-cont {

    .img {
        position: absolute;
        width: 1100px;
        height: 660px;
        justify-content: center;
        align-items: center;
        display: flex;
        top:50%;
        left:55%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
  }
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 40px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 182px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  